<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="itemFile">data/Items.txt</entry>
    <entry key="purchasesFile">./data/Purchases.txt</entry>
    <entry key="customerFile">data/Customers.xml</entry>


<!-- Configuration of the database access information-->
    <entry key="driver">com.mysql.jdbc.Driver</entry>
<!--    <entry key="urlDB">jdbc:mysql://dam2.mysql.iesquevedo.es:3335/andrePadilla_WebStore</entry>-->
    <entry key="urlDB">mongodb://informatica.iesquevedo.es:2323</entry>
<!--    <entry key="urlDB">mongodb://10.0.0.1:2323</entry>-->
<!--    <entry key="urlDB">jdbc:mysql://localhost:3306/WebStore</entry>-->
    <entry key="user_name">root</entry>
    <entry key="password">quevedo2dam</entry>
<!--    <entry key="password">root</entry>-->

<!-- Configuration of the type of DAO-->
    <entry key="daoItems">Hibernate</entry>
    <entry key="daoCustomers">Hibernate</entry>
    <entry key="daoPurchases">Hibernate</entry>
    <entry key="daoReviews">Hibernate</entry>
    <entry key="daoUsers">Hibernate</entry>

</properties>