<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="itemFile">data/Items.txt</entry>
    <entry key="purchasesFile">./data/Purchases.txt</entry>
    <entry key="customerFile">data/Customers.xml</entry>
</properties>